<%= javascript_include_tag "lib/alert" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @code.text %>
</p>

<p>
  <strong>Args:</strong>
  <%= @code.args %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @code.lang %>
</p>

<p>
  <strong>Status:</strong>
  <%= @code.status %>
</p>

<p>
  <strong>Output:</strong>
  <%= @code.output %>
</p>

<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
